.collapsible {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #8d8c8c;
}

.active {
    font-weight: bold;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.item-title {
    font-weight: bold;
}

.content {
    padding: 0 35px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.column {
    float: left;
    width: 48.5%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.item {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    padding: 50px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.list {
    padding-bottom: 10px;
}